<nz-spin nzTip="Loading..." [nzSpinning]="isSpinning" [nzDelay]="500">
  <div *ngIf="isFinUser" class="title">{{'title.rq504-fin'|translate}}</div>
  <div *ngIf="!isFinUser" class="title">{{'title.rq504-supervisor'|translate}}</div>
  <form nz-form [formGroup]="infoForm" [nzAutoTips]="autoTips" style="padding:2% 1%">
    <!-- Header 申请人信息 -->
    <div class="formInline">
      <nz-form-item class="formItem">
        <nz-form-label>{{'employee-id'|translate}}</nz-form-label>
        <nz-form-control>
          <input formControlName="applicantEmplid" nz-input />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="formItem">
        <nz-form-label>{{'dept-code'|translate}}</nz-form-label>
        <nz-form-control>
          <input formControlName="dept" nz-input />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="formItem">
        <nz-form-label>{{'expense-account-no'|translate}}</nz-form-label>
        <nz-form-control>
          <input formControlName="rno" nz-input />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="formItem">
        <nz-form-label>{{'name'|translate}}</nz-form-label>
        <nz-form-control>
          <input formControlName="applicantName" nz-input />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="formItem">
        <nz-form-label>{{'expense-project'|translate}}</nz-form-label>
        <nz-form-control>
          <input formControlName="expenseProject" nz-input />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="formItem">
        <nz-form-label>{{'project-code'|translate}}</nz-form-label>
        <nz-form-control>
          <input formControlName="projectCode" nz-input />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="formItem">
        <nz-form-label>{{'ext'|translate}}</nz-form-label>
        <nz-form-control>
          <input formControlName="ext" nz-input />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="formItem">
        <nz-form-label>{{'company-code'|translate}}</nz-form-label>
        <nz-form-control>
          <input formControlName="companyCode" nz-input />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="formItem">
        <nz-form-label>{{'reimbursement-scene'|translate}}</nz-form-label>
        <nz-form-control>
          <input formControlName="scene" nz-input />
        </nz-form-control>
      </nz-form-item>
    </div>
  </form>

  <!-- 审核明细信息表格 -->
  <div style="padding: 0% 3%">
    <div class="operation-button">
      <nz-form-label>{{'reimbursement-description'|translate}}</nz-form-label>
    </div>
    <nz-table #listTable nzBordered style="padding-bottom: 0%;" nzShowPagination nzShowSizeChanger
      [nzData]="detailTableData" nzSize="small" [nzScroll]="{ x: '1556px', y: '80vh' }" [nzShowTotal]="totalTemplate"
      [nzNoResult]="null" [nzShowPagination]="true">
      <thead>
        <tr>
          <th scope="col" *ngFor="let column of detailListTableColumn" [nzWidth]="column.columnWidth" nzAlign="center"
            [nzSortFn]="column.sortFn">{{ column.title|translate }}</th>
          <th *ngIf="isFinUser">{{'col-tax-deductible'|translate}}</th>
          <th *ngIf="isFinUser">{{'white-form-remark'|translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of listTable.data">
          <td *ngFor="let column of detailListTableColumn" [nzAlign]="column.align">
            {{ data[column.columnKey] }}
          </td>
          <td *ngIf="isFinUser">
            <nz-input-number [nzPrecision]="2" [nzMin]="0" [(ngModel)]="data.taxexpense"></nz-input-number>
          </td>
          <td *ngIf="isFinUser"><input type="text" nz-input [(ngModel)]="data.whiteRemark" /></td>
        </tr>
      </tbody>
    </nz-table>
    <ng-template #totalTemplate let-total><span style="color: #555757;">{{'total'|translate}} {{ total
        }} {{'itemData'|translate}}</span></ng-template>
  </div>
  <!-- 发票附件 -->
  <div style="padding: 0% 3%;">
    <nz-form-label>{{'col.invoice-list'|translate}}</nz-form-label>
    <nz-space *ngFor="let item of invoiceFileList">
      <a *ngIf="item.url" [href]="item.url" target="_blank" style="margin-right: 20px;">{{item.name}}</a>
      <div *ngIf="!item.url && item.invoiceno >= 20"><a (click)="showNoElectronicFileTips()">{{(item.name ||
          item.category || item.filename || '') + item.invoiceno}}</a></div>
    </nz-space>
  </div>
  <!-- 电子签呈附件 -->
  <div style="padding: 0% 3%;">
    <nz-form-label>{{this.infoForm.controls.fileCategory.value}}</nz-form-label>
    <nz-space *ngFor="let item of attachList">
      <a [href]="item.url" target="_blank" style="margin-right: 20px;">{{item.filename}}</a><br>
    </nz-space>
  </div>
  <!-- 附件 -->
  <div style="padding: 0% 3%;">
    <nz-form-label>{{'attachment'|translate}}</nz-form-label>
    <nz-space *ngFor="let item of attachmentList">
      <a [href]="item.url" target="_blank" style="margin-right: 20px;">{{item.filename}}</a><br>
    </nz-space>
  </div>

  <!-- summary金额显示栏位 -->
  <form nz-form [formGroup]="infoForm" [nzAutoTips]="autoTips">
    <div class="formInline">
      <nz-form-item class="formItem" style="margin-right: 10px;">
        <nz-form-label>{{'total-reimbursement'|translate}}</nz-form-label>
        <nz-form-control>
          <nz-input-group [nzPrefix]="this.currency+':'">
            <input formControlName="totalAmt" nz-input />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="formItem" style="margin-right: 10px;">
        <nz-form-label>{{'actual-pay-amount'|translate}}</nz-form-label>
        <nz-form-control>
          <nz-input-group *ngIf="!isFinUser" [nzPrefix]="this.currency+':'">
            <input formControlName="actualAmt" nz-input />
          </nz-input-group>
          <nz-input-number *ngIf="isFinUser" formControlName="actualAmt" [nzPrecision]="2"
            [nzMin]="0.01">
          </nz-input-number>
        </nz-form-control>
      </nz-form-item>
    </div>
    <sign-off [rno]='rno' [showTransformButton]="showTransformButton" [exTotalWarning]="exTotalWarning"
      (transform)="transform($event)" (approve)="approve($event)" (reject)="reject($event)" [isFinUser]="isFinUser">
    </sign-off>
  </form>
</nz-spin>
