<nz-layout class="app-layout">
  <app-header></app-header>
   <app-menu></app-menu>
   <!-- <app-side-navbar (handleCollapsed)="handleCollapsed($event)" [isCollapsed]='isCollapsed'></app-side-navbar> -->
  <!-- <nz-sider class="sidebar" nzCollapsible nzWidth="240px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzCollapsedWidth]="width" [nzTrigger]="null">
    <app-side-navbar (handleCollapsed)="handleCollapsed($event)" [isCollapsed]='isCollapsed'></app-side-navbar>
  </nz-sider>
  <nz-layout>
    <nz-header class="header-wrap">
      <app-top-navbar (handleCollapsed)="handleCollapsed($event)" [isCollapsed]='isCollapsed'></app-top-navbar>
    </nz-header>
    <nz-content class="content-wrapper">
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout> -->
</nz-layout>
