<nz-spin nzTip="Loading..." [nzSpinning]="isSpinning" [nzDelay]="500">
    <form nz-form [formGroup]="queryForm" [nzAutoTips]="autoTips">
        <!-- 查询栏位 -->
        <div class="formInline">
            <nz-form-item class="formItem">
                <nz-form-label>{{'advance-fund-no'|translate}}</nz-form-label>
                <nz-form-control>
                    <input formControlName="rno" nz-input />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item class="formItem" style="margin-right: 20px;">
                <nz-form-label nzRequired>{{'company-code'|translate}}</nz-form-label>
                <nz-form-control>
                    <nz-select formControlName="companyCode">
                        <nz-option *ngFor="let item of companyList" [nzValue]="item" [nzLabel]="item">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <button nz-button class="default-button"
                (click)="queryResultWithParam(true)" nzType="primary" [nzLoading]="this.isQueryLoading"><i nz-icon
                    nzType="search"></i>{{'query'|translate}}</button>
        </div>

        <!-- BD明细表格 -->
        <div *ngIf="this.showTable" style="padding: 0% 0% 1% 0%">
            <div class="operation-button">
                <button nz-button nzType="primary" [nzLoading]="addloading" class="default-button"
                    (click)="addRow()">{{'button.add'|translate}}</button>
            </div>
            <nz-table #listTable style="padding-bottom: 1%;" nzBordered [nzData]="listTableData" nzSize="small" [nzNoResult]="null"
                [nzScroll]="{ x: '1000px', y: '80vh' }" [nzFrontPagination]="false" [nzShowTotal]="totalTemplate"
                [nzTotal]="this.total" [nzShowSizeChanger]="true" (nzPageIndexChange)="pageIndexChange($event)"
                (nzPageSizeChange)="pageSizeChange($event)" [nzPageIndex]="this.pageIndex" [nzPageSize]="this.pageSize">
                <thead>
                    <tr>
                        <th scope="col" *ngFor="let column of listTableColumn" [nzWidth]="column.columnWidth"
                            nzAlign="center" [nzSortFn]="column.sortFn">{{ column.title }}</th>
                        <th [nzRight]="!this.userInfo?.isMobile" nzAlign="center" nzWidth="90px">{{'action'|translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of listTable.data">
                        <td *ngFor="let column of listTableColumn" [nzAlign]="column.align">
                            {{ data[column.columnKey] }}</td>
                        <td [nzRight]="!this.userInfo?.isMobile" nzAlign="center">
                            <a style="margin-right: 10px;" (click)="editRow(data)">{{'button.edit'|translate}}</a>
                            <a nz-popconfirm nzPopconfirmTitle="Sure to delete?"
                                (nzOnConfirm)="deleteRow(data)">{{'button.delete'|translate}}</a>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
            <ng-template #totalTemplate><span style="color: #555757;">{{'total'|translate}} {{ this.total
                    }} {{'itemData'|translate}}</span></ng-template>
        </div>
    </form>

    <!-- 新增编辑表格弹窗 -->
    <nz-modal [(nzVisible)]="showModal" nzMaskClosable="false" [nzTitle]="this.translate.instant('title.bd001')"
        [nzBodyStyle]="{maxHeight: '60vh', overflowY: 'auto', backgroundColor:'#f5f6f9'}"
        (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" [nzOkLoading]="isSaveLoading">
        <form *nzModalContent nz-form [formGroup]="listForm" [nzAutoTips]="autoTips" style="padding: 0% 1%;">
            <div>
                <nz-form-item class="formItem">
                    <nz-form-label nzRequired>{{'company-code'|translate}}</nz-form-label>
                    <nz-form-control>
                        <nz-select formControlName="companyCode" style="width: 178px;">
                            <nz-option *ngFor="let item of companyList" [nzValue]="item" [nzLabel]="item">
                            </nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item class="formItem">
                    <nz-form-label nzRequired>{{'advance-fund-no'|translate}}</nz-form-label>
                    <nz-form-control>
                        <nz-select nzShowSearch nzAllowClear nzServerSearch [nzShowArrow]="false"
                            [nzFilterOption]="nzFilterOption" (nzOnSearch)="getRnoList($event)" nzPlaceHolder=""
                            formControlName="rno" style="width: 178px;">
                            <nz-option *ngFor="let item of rnoList" [nzValue]="item" [nzLabel]="item">
                            </nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item class="formItem">
                    <nz-form-label nzRequired>{{'charge-against-amount'|translate}}</nz-form-label>
                    <nz-form-control>
                        <nz-space>
                            <nz-input-number formControlName="amount" style="width: 100%" [nzPrecision]="2"
                                [nzMin]="0.01">
                            </nz-input-number>
                        </nz-space>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </form>
    </nz-modal>
</nz-spin>
