<div class="container">
  <div class="board">
    <div nz-row class="titlelg" nzJustify="center">
      ERS
    </div>
    <div nz-row nzJustify="center">
      <button nz-button nzType="primary" nzSize="large" class="button_login" (click)="login()">
        <i nz-icon nzType="appstore" nzTheme="fill"></i>
        Log in with Microsoft
      </button>
    </div>
    <div nz-row nzJustify="center">
      <div class="divider">
        <nz-divider class="line"></nz-divider>
      </div>
    </div>
    <div nz-row nzJustify="center">
      <img alt="Wistron" src="../../../assets/images/Icon/ic-wistron-login-logo.svg" />
    </div>
    <div nz-row nzJustify="center" class="copyright">
      {{ CONSTANT_WORDING }}
    </div>
  </div>
</div>

