<nz-spin nzTip="Loading..." [nzSpinning]="isSpinning" [nzDelay]="500">
    <!-- <div class="title">{{'menu.print'|translate}}</div> -->
    <form nz-form [formGroup]="queryForm" [nzAutoTips]="autoTips">
        <div>
            <div class="formInline">
                <nz-form-item class="formItem">
                    <nz-form-label>{{'start-date'|translate}}</nz-form-label>
                    <nz-form-control>
                        <nz-date-picker style="width: 100%;" nzMode="date" formControlName="startDate">
                        </nz-date-picker>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item class="formItem">
                    <nz-form-label>{{'end-date'|translate}}</nz-form-label>
                    <nz-form-control>
                        <nz-date-picker style="width: 100%;" nzMode="date" formControlName="endDate">
                        </nz-date-picker>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item class="formItem">
                    <nz-form-label>{{'application-number'|translate}}</nz-form-label>
                    <nz-form-control>
                        <input formControlName="rno" nz-input />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item class="formItem">
                    <nz-form-label>{{'applicant'|translate}}</nz-form-label>
                    <nz-form-control>
                        <input formControlName="applicantEmplid" nz-input />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item class="formItem" *ngIf="isFin">
                    <nz-form-label>{{'signform.signUser'|translate}}</nz-form-label>
                    <nz-form-control>
                        <input formControlName="approval" nz-input />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <!-- 样式二 -->
            <div class="formInline">
                <nz-form-item>
                    <nz-form-label style="width: 110px;">{{'state'|translate}}</nz-form-label>
                    <nz-form-control class="checkboxGroup">
                        <nz-checkbox-group formControlName="state"></nz-checkbox-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <!-- <div class="formInline">
                <nz-form-item>
                    <nz-form-label style="width: 110px;">{{'voucher-type'|translate}}</nz-form-label>
                    <nz-form-control class="checkboxGroup">
                        <nz-checkbox-group formControlName="voucherType">
                        </nz-checkbox-group>
                    </nz-form-control>
                </nz-form-item>
            </div> -->
            <div class="formInline">
                <nz-form-item>
                    <nz-form-label style="width: 110px;">{{'form-type'|translate}}</nz-form-label>
                    <nz-form-control class="checkboxGroup">
                        <nz-checkbox-group formControlName="formType"></nz-checkbox-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-row [nzGutter]="24">
                <div nz-col nzMd="18" nzSm="24" class="formInline" style="padding-left: unset !important;">
                    <nz-form-item>
                        <nz-form-label style="width: 110px;">{{'company-code'|translate}}</nz-form-label>
                        <nz-form-control class="checkboxGroup">
                            <nz-checkbox-group formControlName="companyCode">
                            </nz-checkbox-group>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzMd="6" nzSm="24">
                    <button nz-button style="margin-bottom: 10px;width: 125px; margin-right: 15px;"
                        class="default-button" (click)="queryResultWithParam(true)" nzType="primary"
                        [nzLoading]="this.isQueryLoading"><i nz-icon nzType="search"></i>{{'query'|translate}}</button>
                    <button nz-button style="margin-bottom: 10px;width: 125px;" class="default-button"
                        (click)="ResetQueryParams()" nzType="primary" [nzLoading]="this.isQueryLoading"><i nz-icon
                            nzType="undo"></i>{{'reset-query-params'|translate}}</button>
                </div>
            </div>
        </div>

        <!-- 查询结果表格 -->
        <div *ngIf="this.showTable" style="padding: 0% 0% 1% 0%">
            <div class="operation-button">
                <button nz-button class="default-button" nzType="primary" (click)="print()"
                    [disabled]="setOfCheckedRno.size === 0" [nzLoading]="this.isQueryLoading"><i
                        nz-icon></i>{{'button.print'|translate}}</button>
            </div>
            <nz-table #listTable style="padding-bottom: 1%;" nzBordered [nzData]="detailTableData" nzSize="small"
                [nzNoResult]="null" [nzScroll]="{ x: '1300px', y: '80vh' }" [nzFrontPagination]="false"
                [nzShowTotal]="totalTemplate" [nzTotal]="this.total" [nzShowSizeChanger]="true"
                (nzPageIndexChange)="pageIndexChange($event)" (nzPageSizeChange)="pageSizeChange($event)"
                [nzPageIndex]="this.pageIndex" [nzPageSize]="this.pageSize">
                <thead>
                    <tr>
                        <th nzLeft nzWidth="40px" [nzChecked]="checked" [nzIndeterminate]="indeterminate"
                            nzAlign="center" (nzCheckedChange)="onAllChecked($event)"></th>
                        <th scope="col" *ngFor="let column of detailListTableColumn" [nzWidth]="column.columnWidth"
                            nzAlign="center" [nzSortFn]="column.sortFn">{{ column.title }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of listTable.data">
                        <td nzLeft [nzChecked]="setOfCheckedRno.has(data.rno)" [nzDisabled]="data.disabled"
                            (nzCheckedChange)="onItemChecked(data.rno, $event)"></td>
                        <td *ngFor="let column of detailListTableColumn" [nzAlign]="column.align">
                            <span *ngIf="column.columnKey!='rno'">{{ data[column.columnKey] }}</span>
                            <a *ngIf="column.columnKey=='rno'" (click)="checkForm(data)">{{ data[column.columnKey]
                                }}</a>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
            <ng-template #totalTemplate><span style="color: #555757;">{{'total'|translate}} {{ this.total
                    }} {{'itemData'|translate}}</span></ng-template>
        </div>
    </form>
    <div style="display: none;">
        <div id="printTable">

        </div>
    </div>
</nz-spin>